#wrapper {
	width: 80%;
	margin: 0 auto;
}

body {
	font-size: 10px;
	color: #222;
/*	border: 1px solid red;*/
	font-family: 'Muli' sans-serif;
	font-weight: 300;
}

header {
	height: 120px;
	margin-bottom: 3%;
/*	border: 1px solid red;*/
}

h1 {
	float: left;
	font-size: 5em;
	padding-top: 8%;
	color: #444;
	font-family: 'Muli' sans-serif;
	font-weight: 400;
/*	border: 1px solid red;*/
}

header nav {
	overflow: hidden;
/*	border: 1px solid red;*/
}

header nav a {
	color: #999999;
	font-size: 2em;
	float: right;
	text-decoration: none;
	padding-top: 15%;
	padding-left: 2%;
	padding-right: 2%;
/*	border: 1px solid red;*/
}

header nav a:hover {
	color: #111;
}

#current a {
	color: #111;
}

#page {
	width: 100%;
	overflow: hidden;
	padding-top: 2%;
	padding-bottom: 2%;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

/*#page .projects {
	display: block;
	float: left;
	overflow: hidden;
	max-width: 30%;
	max-height: 0 auto;
	margin-right: 4%;
	padding-bottom: 3%
}*/

#page .projects {
	display: block;
	overflow: hidden;
	max-height: auto;
	padding-bottom: 3%;
	margin: 0 auto;
}

img {
	max-width: 100%;
	max-height: auto; 
}

footer {
	clear: both;
}

h2, h3 {
	text-align: center;
	padding-top: 3%;
}

h2 {
	font-size: 1.7em;
	font-weight:400;
}

h3 {
	font-size: 1.5em;
	font-weight: 300;
	font-style: italic;
}

#ilana-photo {
	float: left;
	max-width: 30%;
	max-height: auto;
	padding: 0% 2% 2% 0%;
}

p {
	line-height: 1.6em;
	font-size: 1.4em;
	text-align: justify;
	margin-bottom: 1.5%;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
